venv
.idea/
TODO_list/__pycache__/
*/__pycache__/
db.sqlite3

*__pycache__/*
accouts/__pycache__/
TODO_list/__pycache__/
listapp/__pycache__/

TODO_list/TODO_list/__pycache__/
TODO_list/listapp/__pycache__/


TODO_list/settings.py
uploads/
