venv
.idea/
TODO_list/__pycache__/
*/__pycache__/
db.sqlite3
infosite.txt

TODO_list/__pycache__/
listapp/__pycache__/
listapp/migrations/0001_initial.py
listapp/migrations/__pycache__/

TODO_list/TODO_list/__pycache__/
TODO_list/listapp/__pycache__/
TODO_list/listapp/migrations/


TODO_list/settings.py
