{% extends 'base.html' %}
{% block title %}
Projects -
{% endblock title %}
{% block content %}
<h1>project detail view html</h1>
{{project.name}}
<ul>
{% for task in project.task_project.all %}
    <li>{{ task.created|date }} - {{ task.finished }}</li>
   <li><a href="{% url 'project:detail' project.pk task.pk %}">{{ task.title}}</a></li>
{% empty %}
    <li>No task yet.</li>
{% endfor %}
</ul>
{% if perms.listapp.add_task %}
<h3><a href="{% url 'project:create' project.pk %}">Task create</a></h3>
{% endif %}
{% if perms.listapp.change_project %}
<h3><a href="{% url 'project:update' project.pk %}">Project update</a></h3>
{% endif %}
{% if perms.listapp.delete_project %}
<h3><a href="{% url 'project:delete' project.pk %}">Project delete</a></h3>
{% endif %}

{% endblock content %}