{% extends 'base.html' %}
{% block title %}
Projects -
{% endblock title %}
{% block content %}
<h1>project detail view html</h1>
{{project.name}}
<ul>
{% for task in project.task_project.all %}
    <li>{{ task.created|date }} - {{ task.finished }}</li>
   <li><a href="{% url 'project:detail' project.pk task.pk %}">{{ task.title}}</a></li>
{% empty %}
    <li>No task yet.</li>
{% endfor %}
</ul>
{% if perms.listapp.view_project_user %}
<h3><a href="{% url 'project:project_users' project.pk %}">Add_delete users</a></h3>
{% endif %}
{% if perms.listapp.add_task %}
<h3><a href="{% url 'project:create' project.pk %}">Task create</a></h3>
{% endif %}
{% if perms.listapp.change_project %}
<h3><a href="{% url 'project:update' project.pk %}">Project update</a></h3>
{% endif %}
{% if perms.listapp.delete_project %}
<h3><a href="{% url 'project:delete' project.pk %}">Project delete</a></h3>
{% endif %}

<p>Сотрудники задействованные в проект</p>
<ul>
    {% for user in project.users.all %}
    <li>
        <a href="{% url 'accounts:profile' user.pk %}">{{user.username}}</a>
    </li>
    {% endfor %}
</ul>


{% endblock content %}