{% extends 'base.html' %}
{% block title %}
Пользователь
{% endblock title %}
{% block content %}
    <h1>Личная страница пользователя
    {{user_obj.get_full_name|default:user_obj.username}}
    </h1>

    {% if user_obj_profile.avatar %}
    <img class="avatar" src="{{ user_obj.profile.avatar.url }} " width="250" height="250" alt="user_picture">
    {% endif %}
<ul>
    <li>Имя пользователя: {{ user_obj.username }}</li>
    <li>Имя: {{user_obj.first_name}}</li>
    <li>Фамилия: {{user_obj.last_name}}</li>
    <li>Почта: {{user_obj.email}}</li>
</ul>


<h3>Мои проекты:</h3>
<ul>
    {% for project in user_obj.projects.all %}
    <li>
        <a href="{% url 'project:detailview' project.pk %}"> {{ project.name }}</a>
    </li>
    {% endfor %}
</ul>


<ul>
    <li><a href="#">Редактировать</a></li>
    <li><a href="#">Смена пароля</a></li>
</ul>
{% endblock content %}